<launch>
  <!-- Publica el estado del robot usando el URDF/Xacro -->
  <param name="robot_description" command="$(find xacro)/xacro $(find my_robot_description)/urdf/mecanum_robot.urdf.xacro" />

  <!-- Nodo para publicar los estados de los enlaces del robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Nodo opcional para la GUI de los joints -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Lanza RViz con una configuración por defecto -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_description)/rviz/tu_config.rviz" required="true" />
</launch>
